script(id='showTagsTmpl', type='text/x-jquery-tmpl')
  span.tag-name.label(data-tag-name='${name}')
    a(href='/t/${name}') ${name}
    span.delete.mimic-links 削除

script(id='showErrors', type='text/x-jquery-tmpl')
  {{each errors}}
  li
    ${$value}
  {{/each}}

script(id='newTagFormTmpl', type='text/x-jquery-tmpl')
  .new-tag
    ul.errors
    input(class='csrf', name='_csrf', type='hidden', value='#{csrfToken}')
    input.name
    button.create-tag.btn.primary 追加
    span(class='cancel mimic-links') キャンセル