script(id='showPostsTmpl', type='text/x-jquery-tmpl')
  li.post(post-id='${_id}')
    h2
      ${title}
    {{if body}}
    .body
      ${body}
    {{/if}}
    .tags
      ul
        {{if tags.length > 0}}
        {{each(i, tag) tags}}
        li.tag-name.label
          a(href='/t/${tag.name}') ${tag.name}
        {{/each}}
        {{/if}}
    .footer
      span.datetime
        ${created_at}
      {{if comments.length > 0}}
      span.comments-count
        a(href='#') ${comments.length}コメント
      {{/if}}
      ul.menu
        li
          a(href='#', class='new-comment') 返信
        li
          a(href='#', class='new-tag') タグを追加
    ul.comments

script(id='showCommentsTmpl', type='text/x-jquery-tmpl')
  li.comment
    .body
      ${body}
    .datetime
      ${created_at}

script(id='newCommentFormTmpl', type='text/x-jquery-tmpl')
  .new-comment
    textarea.body
    button.create-comment.btn.primary 返信
    a(href='#', class='cancel') キャンセル

script(id='showTagsTmpl', type='text/x-jquery-tmpl')
  li.tag-name
    span.label
      a(href='/t/${name}') ${name}

script(id='newTagFormTmpl', type='text/x-jquery-tmpl')
  .new-tag
    input.name
    button.create-tag.btn.primary 追加
    a(href='#', class='cancel') キャンセル
