script(id='showPostsTmpl', type='text/x-jquery-tmpl')
  .post(data-post-id='${_id}')
    h2
      ${title}
    {{if body}}
    .body
      ${body}
    {{/if}}
    .tags
      {{if tag_names.length > 0}}
      {{each(i, tagName) tag_names}}
      span.tag-name.label
        a(href='/t/${tagName}') ${tagName}
      {{/each}}
      {{/if}}
    .footer
      span.datetime
        a(href='/posts/${_id}') ${created_at}
      {{if comments.length > 0}}
      span.comments-count
        a(href='#') ${comments.length}コメント
      {{/if}}
      ul.menu
        li
          a(href='#', class='new-comment') 返信
        li
          a(href='#', class='new-tag') タグを追加
    ul.comments

include ./_comment
include ./_tag
